* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Tahoma, Arial;
}
.image-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider-container {
  width: 900px;
  height: 500px;
  margin: 10px auto;
  position: relative;
}
.slider-container img {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
}
.slider-container img.active {
  opacity: 1;
}
.slider-container .slide-number {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 5px 10px;
  font-size: 20px;
  z-index: 2;
  border-radius: 6px;
}
.slider-controls {
  width: 900px;
  margin: auto;
  overflow: hidden;
}
.slider-controls .prev,
.slider-controls .next {
  background-color: #009688;
  color: #fff;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px;
  user-select: none;
  width: 20%;
}
.slider-controls .prev {
  float: left;
}
.slider-controls .next {
  float: right;
}
.slider-controls .disabled {
  background-color: rgba(0, 150, 136, 0.5);
  cursor: no-drop;
}
.slider-controls .indicators {
  width: 60%;
  float: left;
}
.slider-controls .indicators ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}
.slider-controls .indicators ul li {
  background-color: #ddd;
  color: #333;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
}
.slider-controls .indicators ul li.active {
  background-color: #009688;
  color: #fff;
}
